* {
  margin: 0;
  border: 0;
}

svg {
  width: 0px;
}

@mixin transition-catchall($time, $timing) {
  -webkit-transition: $time all $timing;
  -moz-transition: $time all $timing;
  -moz-transition: $time all $timing;
  -ms-transition: $time all $timing;
  -o-transition: $time all $timing;
  transition: $time all $timing;
}

.grid {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  //   grid-auto-flow: columns;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.5s ease;
}

.red-filter {
  filter: url("#red-filter");
}

.green-orange-filter {
  filter: url("#green-orange-filter");
}

.blurple-filter {
  filter: url("#blurple-filter");
}

.img:hover {
  filter: grayscale(0%);
}
